header {
    text-align: center;
}
header h1 {
    font-size: 38px;
}
header p {
    font-size: 22px;
}
.btn {
    border: none;
background-color: rgba(101, 63, 151, 0.993);
border-radius: 25px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1
  0px;
color: hsl(0, 0%, 100%);
display: inline-block;
font-size: 22px;
line-height: 22px;
margin: 16px 16px 16px 20px;
padding: 14px 34px;
text-align: center;
cursor: pointer;
}
.btn:hover {
    background-color: rgb(72, 194, 194);
}
.disappear {
    display:none;
}
#questions {
    color:rgba(101, 63, 151, 0.993);
}

